* {
    font-family: 'Inconsolata', monospace;
}

.main {
    border-radius: 20px;
    box-shadow: 0 3px 4px rgb(10 10 10 / 10%),
    0 0 0 1px rgb(10 10 10 / 10%);
    padding: 1rem;
    color: #363636;
    width: 450px;
    margin: 3rem auto 0;
    background-color: #FFFFFF;
}

.label-sistema {
    padding-top: 1rem;
    text-align: center;
}

.botao-fazer-login {
    padding: 12px;
    text-align: center;
}

button {
    cursor: pointer;
    border: none;
    background-color: #167BFF;
    border-radius: 0.9em;
    padding: 0.8em 1.2em 0.8em 1em;
    transition: all ease-in-out 0.2s;
    font-size: 15px;
    width: 200px;
    color: #fff;
}

button:hover {
    background-color: #0071e2;
}

form {
    margin: 100px;
}

.input-field {
    position: relative;
    width: 350px;
    height: 44px;
    line-height: 44px;
    margin-left: 3rem;
    margin-bottom: 2rem;
}

label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #d3d3d3;
    transition: 0.2s all;
    cursor: text;
}

input {
    width: 100%;
    border: 0;
    outline: 0;
    padding: 0.5rem 0;
    border-bottom: 2px solid #d3d3d3;
    box-shadow: none;
    color: #111;
}

input:focus,
input:valid {
    border-color: #0071e2;
}

input:focus ~ label,
input:valid ~ label {
    font-size: 14px;
    top: -24px;
    color: #0071e2;
}